@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
	box-sizing: border-box;
	font-family: "Poppins";
	padding: 0;
}

body {
	margin: 0;
	background-image: linear-gradient(to bottom right, #0a8ff1, #1e51a0);
	color: white;
	min-height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%; 
}

.search-bar{
	width: 100%;
	/*background-color: red;*/
	display: flex;
	justify-content: center; 
}

.search-bar > #search-btn {
	background: transparent;
	border: 1px solid white;
	border-radius: 8px;
	color: white; 
	padding: 5px 8px;
	margin-left: 5px; 
}

#search {
	border: none;
	border-radius: 8px;
	padding: 5px 8px;
}

#search-btn {
	transition: all ease-out .1s;
	cursor: pointer;
}

#search-btn:hover {
	border-color: #0bffba;
	color: #0bffba;
}

#search-btn:active {
	background-color: #0bffba;
	color: white;
}

.quick-panel {
	display: flex;
	justify-content: space-around;
	/*background-color: red;*/
	width: 100%;
	margin: 5% 0; 
}

.main-panel {
	backdrop-filter: blur(20px);
	background: transparent;
	border: 1px solid white;
	border-radius: 8px;
	width: min(100%, 900px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.parameter {
	width: 95%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.field {
	width: 80%;
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}