@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
	box-sizing: border-box;
	font-family: "Poppins";
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-image: linear-gradient(135deg, #0d021c, #2a0341);
	color: white;
	min-height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%; 
}

.search-bar{
	width: 100%;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	margin: 1rem 0; 
}

.search-bar > #search-btn {
	background: transparent;
	border: 1px solid white;
	border-radius: 8px;
	color: white; 
	padding: 5px 8px;
	margin-left: 5px; 
}

#search {
	border: none;
	border-radius: 8px;
	padding: 5px 8px;
}

#search:focus {
	outline: none;
	border: 2px solid green;
}

#search-btn {
	transition: all ease-out .1s;
	cursor: pointer;
}

#search-btn:hover {
	border-color: #0bffba;
	color: #0bffba;
}

#search-btn:active {
	background-color: #0bffba;
	color: white;
}

.quick-panel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*background-color: red;*/
	width: 90%;
	height: 20vh;
	margin: 20px 0; 
}

.quick-panel > img {
	width: 8rem;
	height: 8rem;
}

.main-panel {
	backdrop-filter: blur(20px);
	background: transparent;
	border: 1px solid white;
	border-radius: 8px;
	width: min(100%, 600px);
	height: 200px; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.parameter {
	width: 95%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.field {
	margin-right: auto;
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}